<div class="container">
  <div class="row">
    <div *ngFor="let gif of gifs" class="col-lg-3 col-md-6 mb-2">
      <div
        class="text-center card bg-dark border border-light"
        style="width: 100%"
      >
        <img
          [src]="gif.images.downsized_medium.url"
          [alt]="gif.title"
          class="card-img-top img-fluid"
          style="width: auto; height: 110px"
        />
        <div class="card-body text-white">
          <p
            class="card-text"
            style="font-size: 12px; height: 50px; overflow: hidden"
          >
            {{ gif.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
